@page
@model WebApplication1.Views.Home.ProjectModel
@{
}



<div class="text-center">
    <a href="https://bishesh-thapa.com.np" target="_blank">Portfolio</a><br />
    <a href="https://github.com/bishuthapa" target="_blank" rel="noopener noreferrer" className="text-blue-500 hover:underline"> GitHub</a><br />
    <a href="https://www.linkedin.com/in/bishu-t-53b239277/" target="_blank" rel="noopener noreferrer" className="text-blue-500 hover:underline"> LinkedIn</a>

</div>